<% if is_admin? %>
  <div class="admin-controls">
    <%= link_to "Edit #{@product.name}", edit_product_path(@product), class: 'btn-sm btn-primary'  %>
    <%= link_to "Delete #{@product.name}", product_path(@product),
    :method => "delete", class: 'btn-sm btn-danger' %>
  </div>
<% end %>
<h1><%= @product.name %></h1>
<%= image_tag @product.image, class: 'product-photo' %>
<p><%= @product.description %></p>
<p><%= @product.care %></p>
<p><%= @product.origin %></p>
<p><%= @product.price %></p>
<p><%= @product.family %></p>
<p><%= @product.species %></p>

<%= form_for @order_item do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.number_field :quantity %>
  <%= f.submit "Add to cart" %>
<% end %>

<%= link_to "leave a review for #{@product.name}", new_product_review_path(@product) %>
<% if @reviews.any? %>
  <div class="reviews">
    <% @product.reviews.each do |review| %>
    <div class="review">
      <%= review.content %>
      <% if current_user && is_author(review) || is_admin? %>
        <%= link_to "Edit", edit_product_review_path(@product, review), class: 'btn-xs btn-primary' %>
        <%= link_to "Delete", product_review_path(@product, review), method: 'delete', class: 'btn-xs btn-danger' %>
      <% end %>
    </div>
    <% end %>
  </div>
<% else %>
  <%= "There are no reviews yet" %>
<% end %>
